@import 'https://fonts.googleapis.com/css?family=Lato';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
ol {
  list-style: none;
}
.container {
  width: 100%;
  margin: auto 0;
}

.one-fourth {
  width: 25%;
  float: left;
  padding: 10px;
  border: 1px solid black;
}

.three-fourth {
  width: 75%;
  float: left;
  padding: 10px;
  border: 1px solid red;
}