.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out{
  animation: slide-out 0.5s forwards;
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-75%); }
}

@keyframes slide-in {
    0% { transform: translateX(-75%); }
    
    100% { transform: translateX(0%); }
}

.slide-over-left {
  animation: slide-over-left 0.5s forwards;
}

@keyframes slide-over-left {
  0% {transform: translateX(0);}
  100% {transform: translateX(-25%);}
}

.slide-over-right {
  animation: slide-over-right 0.5s forwards;
}

@keyframes slide-over-right {
  0% {transform: translateX(-25%);}
  100% {transform: translateX(0);}
}

// React CSS Transitions

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

