.container {
  position: relative;
  
  @include atMedium {
    width: 100vw;
    margin: auto 0;
    height: 90vh;
    max-width: 100%;

    &__medium-one-fourth{
      width: 25%;
      float: left;
      padding: 10px;
      height: 100%;
    }

    &__medium-one-fourth--slide{
      max-width: 25%;
      float: left;
      padding: 10px;
      height: 100%;
    }

    &__medium-three-fourth {
      display: block;
      width: 75%;
      float: left;
      padding: 10px 10px 10px 1px;
    }

    &__medium-three-fourth--slide {
      display: block;
      min-width: 75%;
      float: left;
      padding: 10px;
    }

    &__medium-one-half{
      width: 50%;
      float: left;

      &--padding-top-left {
        padding-top: 9px;
        padding-left:10px;
      }
    }
  }


}

