@import "./base/variables";

.control-panel {
  padding: 0.9375rem;
  position:  absolute;
  background-color: $greyBackground;
  height: 100%;
  // width: auto;
  transform: translateX(0%);
  
  &__arrow-container {
    position: absolute;
    top:50%;
    right: 0;
    padding-right: .625rem;
    cursor: pointer;
    color: black;
    
    &__icon {
      transform: rotate(0deg);
      transition: transform .5s;
      // transform-origin: ;
      
      &.backwards {
        transform: rotate(180deg);
      }
    }
  }
}


